/* Footer.css */

* {
    margin: 0;
    padding:0;
}

.footer-container {
    background-color: #495E57;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 20px auto;
    color: #EDEFEE;
    line-height: 1.5;
}

.footer-column {
    margin: 0 20px;
}

.footer-logo {
    margin-top: 5px;
}

.footer-logo:hover {
    opacity: 0.7;
}

.footer-logo:active {
    opacity: 0.4;
}

.footer-header-sitemap {
    color: #F4CE14;
    margin-bottom: -5px;
}

.footer-header {
    color: #F4CE14;
}

.footer-nav-links {
    margin-bottom: 20px;
}

.footer-nav-links a {
    color: #EDEFEE;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 16px;
    text-decoration: underline;
    font-weight: 500;
}

.footer-nav-links a:hover {
    opacity: 0.7;
}

.footer-nav-links a:active {
    opacity: 0.4;
}

.footer-address {
    font-style: normal;
    margin-bottom: 10px;
}

.footer-contact {
    margin-bottom: 10px;
}
.footer-contact a {
    text-decoration: underline;
}

.footer-contact a {
    color: #EDEFEE;
}

.footer-contact a:hover {
    opacity: 0.7;
}

.footer-contact a:active {
    opacity: 0.4;
}

.footer-social-icons:hover {
    opacity: 0.7;
}

.footer-social-icons:active {
    opacity: 0.4;
}

.footer-copyright p {
    color: #EDEFEE;
    font-size: 0.85rem;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-copyright a {
    color: #EDEFEE;
    letter-spacing: 2px;
}

.footer-copyright a:hover {
    opacity: 0.7;
}

.footer-copyright a:active {
    opacity: 0.4;
}

.footer-separator {
    padding: 0 15px;
}

