/* Footer.css */

* {
    margin: 0;
    padding:0;
}

.footer-container {
    background-color: #495E57;
}
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #EDEFEE;
    line-height: 1.5;
}

.footer-logo {
    margin-top: 5px;
}

.footer-logo:hover {
    opacity: 0.7;
}

.footer-logo:active {
    opacity: 0.4;
}

.footer-header {
    color: #F4CE14;
    margin-bottom: 0px;
}

.footer-header-sitemap {
    color: #F4CE14;
    margin-bottom: -8px;
}

.footer-nav-links {
    list-style: none;
}

.footer-nav-links a {
    color: #EDEFEE;
}

.footer-nav-links a:hover {
    opacity: 0.7;
}

.footer-nav-links a:active {
    opacity: 0.4;
}

.footer-address {
    font-style: normal;
    margin-bottom: 10px;
}

.footer-contact {
    margin-bottom: 10px;
}

.footer-contact a {
    color: #EDEFEE;
}

.footer-contact a:hover {
    opacity: 0.7;
}

.footer-contact a:active {
    opacity: 0.4;
}

.footer-social-icons:hover {
    opacity: 0.7;
}

.footer-social-icons:active {
    opacity: 0.4;
}

.footer-copyright {
    color: #EDEFEE;
    font-size: 0.85rem;
}

.footer-copyright a {
    color: #EDEFEE;
    letter-spacing: 2px;
}

.footer-copyright a:hover {
    opacity: 0.7;
}

.footer-copyright a:active {
    opacity: 0.4;
}

.footer-separator {
    padding: 0 15px;
}

