/* Header.css */

* {
    margin: 0;
    padding:0;
}

.header-container {
    background-color: #EDEFEE;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    background-color: #EDEFEE;
    color: #333333;
    max-width: 1280px;
    margin: 0 auto;
}

.logo:hover {
    opacity: 0.7;
}

.logo:active {
    opacity: 0.4;
}

.nav-item {
    margin: 0 1rem;
    color: #333333;
    text-decoration: none;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

nav {
    margin-left: 1rem;
}

.nav-item:hover {
    opacity: 0.7;
}

.nav-item:active {
    opacity: 0.4;
}

header .nav-btn {
    padding: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #333333;
}

header .nav-btn.shopping-basket-icon {
    font-size: 1.6rem;
    background: transparent;
    border: none;
    outline: none;
    color: #333333;
    margin-left: 1rem;

    /* margin-right: auto; */
    /* justify-content: right; */
    /* display: none; */
}

/* .nav-btn.shopping-basket-icon {
    margin-left: 0;
} */

/* .nav-btn svg {
    stroke-width: 1px;
    outline: none;
} */


@media (min-width: 768px) {
    header .nav-btn {
        display: none;
    }

    .navbar {
        display: flex !important;
    }

    header .nav-btn.shopping-basket-icon {
        display: block;
        margin-right: 0rem;
    }
}

@media (max-width: 767px) {
    header .nav-btn {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: #EDEFEE;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .navbar.responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    header .nav-btn.shopping-basket-icon {
        margin-left: 16rem;
    }
}
