/* styles.css */

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Markazi Text', Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    font-weight: 500;
}

h2 {
    font-family: 'Markazi Text', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    font-weight: 600;
}

h4 {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

p {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.callToAction-btn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 16px;
    background-color: #F4CE14;
    color: #333333;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.callToAction-btn:hover {
    background-color: #DDBB16;
}

.callToAction-btn:active {
    background-color: #DDBB16;
    color: #FFFFFF;
}