/* Testimonials.css */

* {
    margin: 0;
    padding:0;
}

.testimonials-container {
    background-color: #FBDABB;
}

.testimonials {
    max-width: 1280px;
    margin: 0 auto;
}

.testimonials h2 {
    padding-top: 20px;;
    padding-bottom: 20px;
    margin-left: 20px;
}

.testimonials-cards {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-left: 20px;
}

.testimonials-card {
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-right: 20px;
    margin-bottom: 20px;
}

.testimonials-card-img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1.5rem auto;
}

.testimonials-card h4 {
    padding-bottom: 20px;
    text-align: center;
}

.testimonials-card-rating {
    width: 120px;
    margin: 0 auto;
}

.testimonials-cards p {
    padding: 20px 20px;
    max-width: 300px;
    height: 190px;
    color: #333333
}





/* .delivery-btn {
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 35px;
    border-radius: 16px;
    padding-right: 50px;
    padding-left: 20px;
    background-color: #F4CE14;
    color: #333333;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.delivery-btn:hover {
    background-color: #DDBB16;
}

.delivery-btn:active {
    background-color: #DDBB16;
    color: #FFFFFF;
}

.delivery-icon {
    position: absolute;
    right:20px;
    top: 10px;
} */


